.AiAssistPanel {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 400px;
    height: 100vh;
    //background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    //z-index: 1000000;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    transition: all 0.3s;
}
